<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceX Launches</title>
</head>
<body>
    <h1>Upcoming SpaceX Launches</h1>
    {{ if .Launches }}
    <ul>
        {{ range .Launches }}
        <li>
            <strong>Mission:</strong> {{ .Name }}<br>
            <div>potato</div>
        </li>
        {{ end }}
    </ul>
    {{ else }}
    <p>No upcoming launches found.</p>
    {{ end }}
</body>
</html>
